{#
{% extends 'base.html.twig' %}

{% block title %}Log in!{% endblock %}

{% block body %}
<form method="post">
    {% if error %}
        <div class="alert alert-danger">{{ error.messageKey|trans(error.messageData, 'security') }}</div>
    {% endif %}

    {% if app.user %}
        <div class="mb-3">
            You are logged in as {{ app.user.username }}, <a href="{{ path('app_logout') }}">Logout</a>
        </div>
    {% endif %}

    <h1 class="h3 mb-3 font-weight-normal">Please sign in</h1>
    <label for="inputEmail">Email</label>
    <input type="email" value="{{ last_username }}" name="email" id="inputEmail" class="form-control" autocomplete="email" required autofocus>
    <label for="inputPassword">Password</label>
    <input type="password" name="password" id="inputPassword" class="form-control" autocomplete="current-password" required>

    <input type="hidden" name="_csrf_token"
           value="{{ csrf_token('authenticate') }}"
    >
#}
{#
Uncomment this section and add a remember_me option below your firewall to activate remember me functionality.
See https://symfony.com/doc/current/security/remember_me.html

<div class="checkbox mb-3">
    <label>
        <input type="checkbox" name="_remember_me"> Remember me
    </label>
</div>
#}{#
<button class="btn btn-lg btn-primary" type="submit">
    Sign in
</button>
</form>
{% endblock %}
#}
{% extends 'base.html.twig' %} {% block
    title %}Log in!{% endblock %} {% block body %}
    <div class="container">
        <div class="row">
            <div class="col-md-10 ml-md-auto">
                <div class="">
                    <div class="card bg-light mb-3 mt-5" style="width: 800px;">
                        <div class="card-body">
                            <form class="form-horizontal" role="form" method="post">
                                {#{% if app.user %}
                                    <AmpContent>
                                        <div class="alert alert-danger">
                                            {{ error.messageKey|trans(error.messageData, 'security') }}
                                        </div>
                                    </AmpContent>
                                {% endif %}#}
                                {% if app.user %}
                                    <NonAmpContent>
                                        <div class="mb-3">
                                            You are logged in as {{ app.user.username }},
                                            <a href="{{ path('app_logout') }}">Logout</a>
                                        </div>

                                    </NonAmpContent>
                                {% endif %}
                                <div class="card-header mb-3">Please sign in</div>
                                <div class="form-group">
                                    <label for="email" class="col-md-4 control-label"
                                    >E-Mail Address</label
                                    >
                                    <div class="col-md-12">
                                        <input
                                                id="inputEmail"
                                                type="email"
                                                class="form-control"
                                                name="email"
                                                value="{{ last_username }}"
                                                required
                                                autofocus
                                        />
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label for="password" class="col-md-4 control-label"
                                    >Password</label
                                    >
                                    <div class="col-md-12">
                                        <input
                                                id="inputPassword"
                                                type="password"
                                                class="form-control"
                                                name="password"
                                                required
                                        />
                                    </div>
                                </div>
                                <input
                                        type="hidden"
                                        name="_csrf_token"
                                        value="{{ csrf_token('authenticate') }}"
                                />
                                <div class="form-group">
                                    <div class="col-md-12">
                                        <button type="submit" class="btn btn-primary">
                                            <i class="fa fa-btn fa-sign-in"></i> Login
                                        </button>
                                    </div>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}