{% extends 'base.html.twig' %}

{% block title %}Hello HomeController!{% endblock %}

{% block body %}
    <div class="test">
        <div class="bg-light p-5 rounded-lg m-3 jumbotron">
            <h1 class="display-4">Hello Blogger</h1>
            <p class="lead">Here you are on a blog where you can register, login, create posts and comments</p>
            <hr class="my-4">
            <p>You can only read posts if you are not register or logged in, click on the button below to see last posts :)</p>
            <a class="btn btn-primary btn-lg" href="/post" role="button">Go !</a>
        </div>
    </div>
{% endblock %}
