<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>{% block title %}Welcome!{% endblock %}</title>
    {# Run `composer require symfony/webpack-encore-bundle`
           and uncomment the following Encore helpers to start using Symfony UX #}
    {% block stylesheets %}
        <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet"
              integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC"
              crossorigin="anonymous">
        <link rel="stylesheet" href="/public/assets/css/app.css">
        {# {{ encore_entry_link_tags('app') }} #}
    {% endblock %}

    {% block javascripts %}
        <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js"
                integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM"
                crossorigin="anonymous"></script>
        {# {{ encore_entry_script_tags('app') }} #}
    {% endblock %}
</head>
{% set route_name = app.request.attributes.get('_route') %}
<nav class="navbar navbar-expand-lg navbar-dark bg-primary">
    <div class="container-fluid">
        <a class="navbar-brand" href="/">Symfony Blog</a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavAltMarkup"
                aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse justify-content-between" id="navbarNavAltMarkup">
            <ul class="navbar-nav mr-auto ">
                <li {% if route_name == "home" %} class="nav-item active" {% else %} class="nav-item" {% endif %}>
                    <a class="nav-link active" aria-current="page" href="{{ path('home') }}">Home</a></li>
                <li {% if route_name == "list" %} class="nav-item active" {% else %} class="nav-item" {% endif %}>
                    <a class="nav-link" href="{{ path('list') }}">View List</a></li>
                <li {% if route_name == "post_create" %} class="nav-item active" {% else %} class="nav-item" {% endif %}>
                    <a class="nav-link" href="{{ path('post_create') }}">Create Post</a></li>
            </ul>
            <div class="ml-auto">
                {% if app.user %}
                    <a class="btn btn-danger" href="{{ path('app_logout') }}">Logout</a>
                {% else %}
                    <a class="btn btn-success s-2" href="{{ path('app_login') }}">Login</a>
                    <a class="btn btn-warning" href="{{ path('app_register') }}">Register</a>
                {% endif %}
            </div>
        </div>
    </div>
</nav>
<body>
<div class="container mt-1">
    {% block body %}{% endblock %}
</div>
</body>
</html>
