{% extends "base.html.twig" %}
{% block body %}
    <div>
        <h1>Création d'un post</h1>
        {{ form_start(form) }}
        <div class="mb-3">
            {{ form_row(form.title) }}
        </div>
        <div class="mb-3">
            {{ form_row(form.content) }}
        </div>
        <div>
            {{ form_row(form.imageFile) }}
        </div>
        <button class="btn btn-success" type="submit">Post !</button>
        {{ form_end(form) }}

    </div>
{% endblock %}