{% extends 'base.html.twig' %}

{% block title %}Hello PostController!{% endblock %}

{% block body %}
    <div class="container test">
        <div class="bg-light p-5 rounded-lg m-3 jumbotron">
            <h1 class="display-4">Posts</h1>
            <p class="lead">Welcome to the Post list</p>
        </div>
    </div>
        <div class="row">
            {% for post in posts %}
                <div class="col-sm-12 col-md-12 col-lg-4">
                    <article>
                        <h2>{{ post.title }}</h2>
                        <div class="metadata">Ecrit le {{ post.createdAt|date('d/m/y') }}
                            à {{ post.createdAt|date('H:m') }} dans la catégorie par <span><strong>{{ post.author.name }}</strong></span></div>
                        <div class="content">
                            <p>{{ post.content|striptags|slice(0, 200) }}...</p>
                            <a href="{{ path("post_view", { "id": post.id } ) }}"
                               class="btn btn-primary btn-block text-center">Read more</a>
                        </div>
                    </article>
                </div>

            {% endfor %}
        </div>
    <hr>
{% endblock %}
