{% extends 'base.html.twig' %}

{% block body %}
    <post>
        <h2>{{ post.title }}</h2>
        <div class="metadata">Ecrit le {{ post.createdAt|date('d/m/y') }} à {{ post.createdAt|date('H:m') }}</div>
        <div class="content mt-2">
            {% if post.image %}<img src="{{ asset('/posts/images/' ~ post.image) }}" class="w-100">{% endif %}
            <p>{{ post.content| nl2br }}</p>
        </div>
        <hr>
        <section id="commentaires">

            {% for comment in post.comments %}
                <div class="comment mt-4">
                    <div class="row">
                        <div class="col-3">
                            <span class="text-secondary
">{{ comment.author }} </span>(<small>{{ comment.createdAt|date('d/m/Y à H:i') }}</small>) :
                        </div>
                        <div class="col">
                            {{ comment.content | nl2br }}
                        </div>
                    </div>
                </div>
                <hr>
            {% endfor %}
            {% if app.user != null %}
                <div class="row justify-content-start">
                    <div class="col-6">
                        {{ form_start(form) }}
                        {{ form_widget(form) }}
                        <button class="btn btn-primary">Comment</button>
                        {{ form_end(form) }}
                    </div>
                </div>
            {% endif %}
        </section>
    </post>
{% endblock %}