{% extends 'base.html.twig' %} {% block
    body %}
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <div class="card bg-light mb-3 mt-3">
                    <div class="card-body">
                        <div class="card-header">List of top technology companies</div>
                        {% if app.user %}
                        <AmpContent>
                            <table class="table">
                                <tr>
                                    <th>Company Name</th>
                                    <th>Market Value</th>
                                </tr>
                                {% for key, item in companies %}
                                    <tr>
                                        <td>{{ key }}</td>
                                        <td>{{ item }}</td>
                                    </tr>
                                {% endfor %}
                            </table>

                        </AmpContent>
                        {% else %}
                    </div>
                </div>
                <NonAmpContent>
                    <a href="{{ path('app_login') }}" class="btn btn-info">
                        You need to login to see the list 😜😜 >></a
                    >
                </NonAmpContent>
                {% endif %}
            </div>
        </div>
    </div>
{% endblock %}